html {
  background-color: rgb(31, 31, 31);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 750px;
  margin: 0 auto;
  color: rgb(212, 212, 212);
}

header,
footer {
  margin-top: 10px;
  text-align: center;
  color: rgb(212, 212, 212);
  background-color: rgb(2, 88, 2);
  border-radius: 15px;
  padding: 15px;
}

main {
  padding: 50px 20px;
}

a,
a:visited,
a:hover {
  color: rgb(142, 153, 255);
  text-decoration: none;
}

footer {
  font-size: 0.8rem;
}

footer a {
  color: rgb(212, 212, 212);
}

section {
  background-color: rgb(2, 88, 2);
  border: 3px solid white;
  padding: 2rem;
  margin: 2rem;
}

img.remove {
  width: 50px;
  float: right;
}

section span {
  margin-left: 4rem;
}
